<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Aluno</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Aluno</button>
      <button type="button" class="btn btn-secondary" (click)="onRefresh()" >Atualizar</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Ra</th>
          <th>Aluno</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos$ | async">
          <td>{{aluno.ra}}</td>
          <td>{{aluno.nome}}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(aluno)">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(aluno)" >
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando Cursos...</span>
    </ng-template>
